/* IMPORTANT White Main border*/
@import url(fontawesome-all.min.css);
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400';

h1 {
		text-align:center;
}
body, html {
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-size: 17pt;
		font-weight: 300;
		line-height: 1.65;
		height: 100%;
		background-image: url("images/background.png");
		height:100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
}

.whitebox {
	background-color:white;
	color: black;
}
