@import url(fontawesome-all.min.css);
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400';

h1 {
		text-align:center;
}
body {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 17pt;
	font-weight: 300;
	line-height: 1.65;
	height: 100%;
	padding-top: 10px;
	padding-left: 25%;
	padding-right: 25%;
	padding-bottom: 25px;
	}

html {
	background-image: url("images/overlay.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

header {
	text-align: center;
}
.content{
	background: white;
	width: 100%;
	padding: 40px;
	margin: 100px auto;
	border-radius: 10px;

}

.snapshot {
	text-align:center;
}

#extrabackgroundidea {
	background-color: #ffffff;
	color: #636363;
	border-radius: 0.25em;
	box-shadow: inset 0 0 0 1px #dddddd;
	margin: -5em 0 5em -5em;
	border-top-right-radius: 0.25%;
	border-top-left-radius: 0.25%;
	border-bottom-right-radius: 25%;
	border-bottom-left-radius: 100%;
© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
