@import url(fontawesome-all.min.css);
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400';

h1 {
		text-align:center;
		color: white;
		font-weight:normal;
	}

	hr.line-pink-center {
	            border: 0;
	            height: 3px;
	            background-color: #ff6699;
	            width: 166px;}

							hr.line-pink-left {
							        border: 0;
							        height: 5px;
							        background-color: #ff6699;
							        width: 120px;
							        margin-left: 0px;}

											hr.small-line {
												border: 0;
								        height: 2px;
								        background-color: #ff6699;
								        width: 45px;
								        margin-left: 0px;
											}
body {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 16.5pt;
	font-weight: 300;
	line-height: 1.65;
	height: 100%;
	padding-top: 10px;
	padding-left: 25%;
	padding-right: 25%;
	padding-bottom: 25px;
	}

h2 {
	color: #ff6699;

}
b {
	font-size:18pt;
}

html {
	background-image: url("images/overlay.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

header {
		text-align: center;
		color: white;
}

.content{
	background: white;
	width: 100%;
	padding: 40px;
	margin: 100px auto;
	border-radius: 10px;

}

.snapshot {
	text-align:center;
}

.profile {
	text-align:center;
}

.profileimage {
	float: right;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
